<!DOCTYPE html>
<html>
  <head>
    <title>Blackhole 2017</title>
    <link href="https://bootswatch.com/cyborg/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/wall.js"></script>
	<a class="navbar-brand" href="/"><span style="color: red;">† Blackhole 2017 †</span></a>
  </head>
  
  <body>
    <!--<nav class="navbar navbar-default navbar-fixed-top">-->
            <!--<div class="container-fluid">-->
				
              <!-- Brand and toggle get grouped for better mobile display -->
			  <!--</div>-->


              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          <!--</nav>-->
          <div class="container-fluid">