<% include partials/header %>
<center>
	<div class="jumbotron jumbotronWithForm">
		<div class="container">
			<div class="row well well-lg">
				    <h2>Sign up with your 42 account<h2>
				    <form action="/login" method="POST" id="logInForm">
				      <a href="/auth/intra42" class="btn btn-primary"><span class="icon-42"></span> Sign-In</a>
				    </form>
			</div>
		</div>
	</div>
</center>